
@font-face {
    font-family: "gothic";
    src: url("../recursos/century-gothic.ttf");
}

*{
    font-family:"gothic";
}
body{
    background-image: url("../imagens/plano_verde.jpg");
}

.acesso{
   
    margin-top: 100px;
    min-width: 500px;


    
}

.campo{
    width: 400px;
    border: none;

    padding: 70px;
    height: 400px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    

}
#btn_login{
    width: 100%;
    border-radius: 15px;
}

#btn_login:hover{
    background-color:#1b1;
    color: white;
}